<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogBravo</title>
    <script src="https://kit.fontawesome.com/64e875fda5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/blogbravo.css" />
</head>
<body>
    <partial name="_Spinner" />
    @using Microsoft.AspNetCore.Identity
    @using BlogBravo.Data
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow py-0">
            <div id ="nav-div" class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-family: 'Edwardian Script ITC'; font-size: 3rem;">Blog Bravo&ensp;<i title="Blog Bravo Home" class="fas fa-home mr-5" style="font-size:2rem;"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white mr-2" asp-area="" asp-controller="Browse" asp-action="Index"><i class="fab fa-blogger mr-5" data-toggle="tooltip" data-placement="bottom" title="Blog Bravo Browse" style="font-size:2rem;"></i></a>
                        </li>
                        <li>
                            <form method="get" name="Searchform" class="form-inline" asp-controller="Search" asp-action="Index">
                                <div class="input-group">
                                    <input type="search" placeholder="Search..." name="query" class="form-control border border-right-0 border-dark" style="border-top-left-radius:25px; border-bottom-left-radius:25px;">

                                    <div class="input-group-append">
                                        <span class="btn btn-outline-dark border-left-0 bg-white" style="border-top-right-radius: 25px; border-bottom-right-radius: 25px;"><i class="text-black fas fa-search" onclick="Searchform.submit()"></i></span>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark text-white" style="font-size:1rem;">
        <div class="container">
            &copy; @DateTime.Now.Year - Blog Bravo <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-facebook-square"></i> - <a class="text-info" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        function SetNavBarClass() {
            // Get width and height of the window excluding scrollbars
            var width = document.documentElement.clientWidth;
            var height = document.documentElement.clientHeight;

            if (width >= 1400) { //xxl Screen
                $(".navbar *").css("font-size", 24);
            }
            else if (width >= 1200 && width < 1400) { // XL Screen
                $(".navbar *").css("font-size", 24);
            }
            else if (width >= 992 && width < 1200) { // Large Screen
                $(".navbar *").css("font-size", 20);
            }
            else if (width >= 768 && width < 992) { // Medium Screen
                $(".navbar *").css("font-size", 16);
            }
            else if (width >= 576 && width < 768) { // small screen
                $(".navbar *").css("font-size", 13);
            }
            else if (width < 576) { // X Small Screen
                $(".navbar *").css("font-size", 10);
            }
        }
        window.addEventListener("resize", SetNavBarClass);
        SetNavBarClass();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
