@model BlogBravo.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<div class="row alert-dark border border-danger rounded">
    <div class="col-md-12">
        <h1 class="mb-3">Delete Post - <span class="text-muted fst-italic">Blog Name</span></h1>
        <div class="form-group text-muted">
            <label asp-for="Title" class="control-label fw-bolder h4 mr-5"></label>
            <input asp-for="Title" class="form-control border-dark" maxlength="50" id="post-title" disabled />
        </div>
        <div class="form-group text-muted">
            <label asp-for="Body" class="control-label fw-bold h4"></label>
            <textarea asp-for="Body" maxlength="2500" class="form-control border-dark font-monospace" rows="10" id="post-body" disabled></textarea>
        </div>

        <span class="mr-2 text-muted">#Tag</span><span class="mr-2 text-muted">#Tag</span><span class="mr-2 text-muted">#Tag</span><span class="mr-2 text-muted">#Tag</span><span class="mr-2 text-muted">#Tag</span>
    </div>

    <hr />
    <form class="container my-3">
        <div asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <button class="btn btn-outline-dark float-right" asp-area="" asp-controller="Home" asp-action="Index">Cancel</button>
        </div>
    </form>
</div>