<div>
    <div class="container btn-group btn-group-lg" role="group">
        <button id="blogs-btn" type="button" class="btn btn-primary" style="border:solid black; border-radius:0px; border-top-right-radius:20px;">Blogs</button>
        <button id="posts-btn" type="button" class="btn btn-primary" style="border:solid black; border-radius:0px; border-top-right-radius:20px;">Posts</button>
        <button id="tags-btn" type="button" class="btn btn-primary" style="border:solid black; border-radius:0px; border-top-right-radius:20px;">Tags</button>
    </div>
    <div class="container mt-2" id="load-partial-view"></div>
</div>


<script>
    window.onload = function () { $("#load-partial-view").load("/Browse/ViewBlogs"); };

    document.querySelector("#blogs-btn").addEventListener('click', function () {
        $("#load-partial-view").load("/Browse/ViewBlogs");
    });

    document.querySelector("#posts-btn").addEventListener('click', function () {
        $("#load-partial-view").load("/Browse/ViewPosts");
    });

    document.querySelector("#tags-btn").addEventListener('click', function () {
        $("#load-partial-view").load("/Browse/ViewTags");
    });
</script>