/* ------- Added by Sam 2021-01-04 --------*/

* {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 0.9rem;
    /*    font-family: 'Open Sans', sans-serif;*/
    /* font-family: 'Ink Free'*/
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
