
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="border border-dark rounded alert-dark mt-auto" style="font-family: 'Open Sans', sans-serif;">
        <img src="~/images/writing4.jpg" class="border rounded-top" style="width:100%" asp-append-version="true" />
        <h3 class="h3 mt-2">Welcome to Blog Bravo</h3>
        <p class="h6">We created Blog Bravo for people that share our passion for writting about diverse subjects.</p>
        <p class="h6">Creamos Blog Bravo para personas que comparten nuestra pasión por escribir sobre diversos temas. </p>
        <p class="h6">हमने ब्लॉग ब्रावो उन लोगों के लिए बनाया है जो विविध विषयों पर लिखने के हमारे जुनून को साझा करते हैं। </p>
        <p class="h6">我们为那些分享我们对不同主题写作的热情的人创建了 Blog Bravo</p>
        <p class="h6">私たちは、多様な主題について書くことへの情熱を共有する人々のためにブログブラボーを作成しました</p>
        <p class="h6">Мы создали Blog Bravo для людей, которые разделяют нашу страсть к написанию на самые разные темы.</p>
        <p class="h6">ما بلاگ براوو را برای افرادی ایجاد کردیم که مانند ما به نوشتن در مورد موضوعات مختلف اشتیاق دارند</p>
    </div>
    <p style="font-size:0.75rem;">Learn about our <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.</p>
</div>


