@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="alert-dark border border-dark rounded text-monospace">
    <h1>Privacy Policy</h1>
    <h4>Our commitment to protecting your personal information</h4>

    <p>
        Your privacy is extremely important to us and we are committed to fair practices that protect your information.
        This Privacy Policy is provided to explain our information practices and the choices you can make about the way
        your information is collected and used. To make this notice easy to find, we make our policies and procedures
        available on every page of this website.
    </p><br />

    <h4>Scope of this Privacy Policy</h4>
    <p>
        Please be aware that this Privacy Policy does not govern all the information Blog Bravo may process. Our commitment
        to customers and service providers is governed by a separate Data Processing Amendment.
    </p>
    <p>Our commitments to employees are governed by our internal employment policies.</p>
    <p>In all instances we are committed to transparency with our customers, employees and protecting your data privacy.</p><br />

    <h4>An Overview of the Sources of Personal Data</h4>
    <p>Blog Bravo obtains information about individuals in these main ways:</p>
    <ul>
        <li>
            when you visit this website or contact us directly about becoming a customer or obtaining other information,
        </li>
        <li>
            through our Registration process.
        </li>
    </ul>

    <p>
        This Privacy Policy governs how we collect and process information obtained from your visits to our website, when you
        contact us directly (or interact with us via other media outlets and social media) about becoming a customer or to
        obtain other information, and when you engage with us as part of the employment process.
    </p>
    <p>
        Our Data Processing Amendment governs our processing of any information obtained as a result of the customer or service
        provider relationship. You can read our commitment to customers and service providers, and our fair information practices
        in the Data Processing Amendment.
    </p>
</div>